<form [formGroup]="form">
    <h3>Party Account felvétel</h3>
    <mat-form-field class="max-width">
      <mat-label>Cím</mat-label>
      <input matInput placeholder="accountType" focus formControlName="accountType" required>
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Cím</mat-label>
        <input type="number" matInput placeholder="creditLimit" focus formControlName="creditLimit" required>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Cím</mat-label>
      <input matInput placeholder="description" focus formControlName="description" required>
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Cím</mat-label>
        <input matInput placeholder="href" focus formControlName="href" required>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Cím</mat-label>
      <input matInput placeholder="lastModified" focus formControlName="lastModified" required>
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Cím</mat-label>
        <input matInput placeholder="name" focus formControlName="name" required>
    </mat-form-field>    
    <mat-form-field class="max-width">
        <mat-label>Cím</mat-label>
        <input matInput placeholder="paymentStatus" focus formControlName="paymentStatus" required>
    </mat-form-field>    
    <mat-form-field class="max-width">
        <mat-label>Cím</mat-label>
        <input matInput placeholder="state" focus formControlName="state" required>
    </mat-form-field>

    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
    </div>
</form>